.u-photo {
    border: 5px solid #eee;
    border-radius: 50;
    margin: 20px 0;
    filter: gray;

    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.u-photo:hover {
    border: 5px solid #333;

    -webkit-filter: grayscale(1);
    filter: none;
}

.post-mentions {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid #AEADAD;
    border-bottom: 1px solid #AEADAD;
    font-size: 16px;
}

.post-mentions ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}
