{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
    <div class="container">
        <article class="h-entry">
            <div class="subtitle tags is-6 is-pulled-right">
                {{ if .Params.tags }}
                {{ partial "tags" .Params.tags }}
                {{ end }}
            </div>
            {{if not .Date.IsZero }}<h2 class="subtitle is-6">
                <a class="u-url" href="{{ .Permalink }}"><time class="dt-published" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time></a>
            </h2>{{ end }}
            <h1 class="title p-name">{{ .Title }}</h1>
            <span class="p-author">{{ .Params.Author | default .Site.Author.Name }}</span>
            {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
            {{ partial "adsense" . }}
            {{ end }}
            <div class="content e-content">
                {{ .Content }}
                {{ if .Site.Params.Info.related }}
                <div class="related">{{ partial "related" . }}</div>
                {{ end }}

                <div class="post-mentions" id="post-mentions" style="display:none">
                    <ul class="mentions-list" id="mentions-list"></ul>
                </div>
            </div>
            {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
            {{ partial "adsense" . }}
            {{ end}}
        </article>
    </div>
</section>
{{ if findRE "<pre" .Content 1 }}
    <script src="/js/copycode.bundle.js"></script>
{{ end }}
<script src="/js/single.bundle.js"></script>
{{ partial "disqus" . }}
{{ partial "footer" . }}
